*{
	font-family: Arial, Verdana;
}
body {
	margin:0;
	padding:0;
}
.topo{
	width:100%;
	max-width:900px;
	height:100px;
	margin:auto;
}
.logo{
	width:50%;
	height:100px;
	float:left; 
	background-color:#111;
}
.menu{
	width:50%;
	height:100px;
	float: right;
	background-color:#222;
}
.corpo{
	width:100%;
	max-width:900px;
	height:200px;
	margin:auto;
	background-color:#333;
}
.rodape{
	width:100%;
	max-width:900px;
	height:100px;
	margin:auto;
	background-color:#444;
}
@media only screen and (max-width:400px){
	.topo{
		height:200px;
	}
	.logo{
		width:100%;
	}
	.menu{
		width:100%;
	}
}