body {
	margin:0;
	background-color: #EEE
}
form {
	width:200px;
	height:150px;
	background-color:#CCC;
	padding:20px;
	margin:auto;
	margin-top: 150px;
	border-radius: 9px;	
}
input {
	width:95%;
	padding: 5px;
	font-size: 15px;
	border-radius: 9px;
}
.submit{
	background-color:#EEE;
}